<div class="container">
  <div class="row" >
    <div class="col-md-12" style="padding-bottom: 10px;padding-top: 10px;padding-left: 35px">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag "news1.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "news2.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "news3.jpg" %>
            </div>
            <div class="item">
              <%= image_tag "news4.jpg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-left: 20px;margin-right: 90px;">
    <div class="col-md-8" style="padding-left: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span>
              <i class="glyphicon glyphicon-th-list"></i>
            </span>
            通知公告
          </h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>发布时间</th>
                </tr>
            </thead>
            <tbody>
              <% number = 0 %>
              <% @notice.each do |notice| %>
                <tr>
                  <td><%= number += 1 %></td>
                  <td><%= link_to notice.title, notice_url(notice) %></td>
                  <td><%= notice.created_at.strftime('%Y-%m-%d') %></td>
                </tr>
              <% end %>
            </tbody>
          </table><!--//table:end-->
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-right: 90px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span>
              <i class="glyphicon glyphicon-road"></i>           
            </span>
            相关链接
          </h3>
        </div>
        <div class="panel-body" style="min-height: 200px">
          <table class="table">
            <tbody>
              <tr>
                  <td><a href="http://www.moe.edu.cn/"><i class="glyphicon glyphicon-link"></i>  中华人民共和国教育部</a></td>  
              </tr>
              <tr>
                  <td><a href="http://www.csadge.edu.cn/"><i class="glyphicon glyphicon-link"></i>  中国学位与研究生教育学会</a></td>  
              </tr>
              <tr>
                  <td><a href="http://www.meng.edu.cn/"><i class="glyphicon glyphicon-link"></i>  全国工程硕士研究生教育网</a></td>  
              </tr>
              <tr>
                  <td><a href="http://www.nlc.gov.cn/"><i class="glyphicon glyphicon-link"></i>  中国国家图书馆</a></td>  
              </tr>
              <tr>
                  <td><a href="http://www.las.ac.cn/"><i class="glyphicon glyphicon-link"></i>  中国科学院国家科学图书馆</a></td>  
              </tr>
              <tr>
                  <td><a href="http://www1.csdb.cn/"><i class="glyphicon glyphicon-link"></i>  中国科学院科学数据库</a></td>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  
</div>
